@model WantsAndNeeds.Models.UserPreferences
@{
    ViewData["Title"] = "Plan Your Dream Vacation... WITH FRIENDS";
}

<div class="flex flex-col text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form asp-action="Submit" method="post">
        <div>
            <label>Your Name:</label>
            <input asp-for="Name" class="form-control">
        </div>

        <h4>Wants</h4>
        <h4>Needs</h4>
    </form>
</div>
